:root {
  --content-width: 760px;
}

div[id^="wpcf7-f20423-p"] button.cf7mls_next {   }div[id^="wpcf7-f20423-p"] button.cf7mls_back {   }div[id^="wpcf7-f20063-p"] button.cf7mls_next {   }div[id^="wpcf7-f20063-p"] button.cf7mls_back {   }div[id^="wpcf7-f19954-p"] button.cf7mls_next {   }div[id^="wpcf7-f19954-p"] button.cf7mls_back {   }div[id^="wpcf7-f19953-p"] button.cf7mls_next {   }div[id^="wpcf7-f19953-p"] button.cf7mls_back {   }div[id^="wpcf7-f19949-p"] button.cf7mls_next {   }div[id^="wpcf7-f19949-p"] button.cf7mls_back {   }div[id^="wpcf7-f15648-p"] button.cf7mls_next {   }div[id^="wpcf7-f15648-p"] button.cf7mls_back {   }div[id^="wpcf7-f12273-p"] button.cf7mls_next {   }div[id^="wpcf7-f12273-p"] button.cf7mls_back {   }div[id^="wpcf7-f11060-p"] button.cf7mls_next {   }div[id^="wpcf7-f11060-p"] button.cf7mls_back {   }div[id^="wpcf7-f10465-p"] button.cf7mls_next {   }div[id^="wpcf7-f10465-p"] button.cf7mls_back {   }div[id^="wpcf7-f9947-p"] button.cf7mls_next {   }div[id^="wpcf7-f9947-p"] button.cf7mls_back {   }div[id^="wpcf7-f9193-p"] button.cf7mls_next {   }div[id^="wpcf7-f9193-p"] button.cf7mls_back {   }div[id^="wpcf7-f4592-p"] button.cf7mls_next {   }div[id^="wpcf7-f4592-p"] button.cf7mls_back {   }div[id^="wpcf7-f4590-p"] button.cf7mls_next {   }div[id^="wpcf7-f4590-p"] button.cf7mls_back {   }div[id^="wpcf7-f4463-p"] button.cf7mls_next {   }div[id^="wpcf7-f4463-p"] button.cf7mls_back {   }div[id^="wpcf7-f4461-p"] button.cf7mls_next {   }div[id^="wpcf7-f4461-p"] button.cf7mls_back {   }div[id^="wpcf7-f4459-p"] button.cf7mls_next {   }div[id^="wpcf7-f4459-p"] button.cf7mls_back {   }div[id^="wpcf7-f4375-p"] button.cf7mls_next {   }div[id^="wpcf7-f4375-p"] button.cf7mls_back {   }div[id^="wpcf7-f3947-p"] button.cf7mls_next {   }div[id^="wpcf7-f3947-p"] button.cf7mls_back {   }div[id^="wpcf7-f3931-p"] button.cf7mls_next {   }div[id^="wpcf7-f3931-p"] button.cf7mls_back {   }div[id^="wpcf7-f2499-p"] button.cf7mls_next {   }div[id^="wpcf7-f2499-p"] button.cf7mls_back {   }div[id^="wpcf7-f2145-p"] button.cf7mls_next {   }div[id^="wpcf7-f2145-p"] button.cf7mls_back {   }div[id^="wpcf7-f1884-p"] button.cf7mls_next {   }div[id^="wpcf7-f1884-p"] button.cf7mls_back {   }div[id^="wpcf7-f1448-p"] button.cf7mls_next {   }div[id^="wpcf7-f1448-p"] button.cf7mls_back {   }div[id^="wpcf7-f27-p"] button.cf7mls_next {   }div[id^="wpcf7-f27-p"] button.cf7mls_back {   }

.site-title,
.site-description {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
}
img.lazy{min-height:1px}

.siteContent {
  &__noMain {
    padding-top: 100px;
    padding-bottom: 35px;
  }
}

.siteHeader {
  &__noMain {
    background: #fff !important;
    box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 7%);
  }
}